{% extends "base.html" %}
{% block content %}

<div class="content">
  <div class="container">
    <br>
	<div class="columns">
      <div class="column is-3">
        <aside class="menu">

        <p class="menu-label">Camper+ Basics</p>
        <ul class="menu-list">
            <li><a href="#what-is-cp">What is Camper+?</a></li>
        </ul>

         <p class="menu-label">Administrators</p>
          <ul class="menu-list">
          	<li><a href="#admin-registration">Admin Registration</a></li>
            <li><a href="#invite-parents">Inviting Parents to join</a></li>
            <li><a href="#schedule-maker">How to Create Schedules</a></li>
            <li><a href="#user-role">Assigning Students to Groups</a></li>
            <li><a href="#nametag">Nametag Generator</a></li>
          </ul>

          <p class="menu-label">Parents</p>
          <ul class="menu-list">
            <li><a href="#parent-registration">Parent Registration</a></li>
            <li><a href="#schedule-maker">Registering My Child</a></li>
            <li><a href="#view-schedule">How to View Schedule</a></li>
          </ul>

          <div class="column is-9">
        <h1><strong>Frequently Asked Questions</strong></h1>
        <h2>Camper+ Basics</h2>
        <hr>

        <a name="what-is-cp"></a>
        <h3>What is Camper+?</h3>
        <p>
          Camper+ is the prefect toolbox for camp administrators to set up their camp. Camper+ aims to organize all the requirements an administrator would have to do; from registration to creating nametags. Most camps would have to use multiple external sources to gather their information, but with Camper+, everything would be consolidated into one site.
        </p>

        <h2>General Users</h2>
        <hr>

        <a name="admin-registration"></a>
        <h3>How can I register as a Administrator?</h3>
        <p>
          Administrators will have to email us at Register@camperplus.herukuapp.com to obtain a unique username and password to access their server. 
        </p>

        <a name="invite-parents"></a>
        <h3>How do Parents sign up?</h3>
        <p>
          All parents can click the sign up button on the home page and they will be directed to the registration page. Parents will need a special code that can be found in the Administrators home page.
        </p>

