{% extends "base.html" %}
{% block content %}

<div class="content">
  <div class="container">
    <br>
	<div class="columns">
      <div class="column is-3">
        <aside class="menu">

        <p class="menu-label">Camper+ Basics</p>
        <ul class="menu-list">
            <li><a href="#what-is-cp">What is Camper+?</a></li>
        </ul>

         <p class="menu-label">Administrators</p>
          <ul class="menu-list">
          	<li><a href="#admin-registration">Admin Registration</a></li>
            <li><a href="#invite-parents">Inviting Parents to join</a></li>
            <li><a href="#assign-groups">Assigning Students to Groups</a></li>
            <li><a href="#schedule-maker">How to Create Schedules</a></li>
            <li><a href="#nametag">Nametag Generator</a></li>
          </ul>

          <p class="menu-label">Parents</p>
          <ul class="menu-list">
            <li><a href="#parent-registration">Parent Registration</a></li>
            <li><a href="#register-child">Registering My Child</a></li>
            <li><a href="#view-schedule">How to View Schedule</a></li>
          </ul>

          <div class="column is-9">
        <h1><strong>Frequently Asked Questions</strong></h1>
        <h2>Camper+ Basics</h2>
        <hr>

        <a name="what-is-cp"></a>
        <h3>What is Camper+?</h3>
        <p>
          Camper+ is the prefect toolbox for camp administrators to set up their camp. Camper+ aims to organize all the requirements an administrator would have to do; from registration to creating nametags. Most camps would have to use multiple external sources to gather their information, but with Camper+, everything would be consolidated into one site.
        </p>

        <h2>General Users</h2>
        <hr>

        <a name="admin-registration"></a>
        <h3>How can I register as a Administrator?</h3>
        <p>
          Administrators will have to email us at Register@camperplus.herukuapp.com to obtain a unique username and password to access their server. 
        </p>

        <a name="invite-parents"></a>
        <h3>How do Parents sign up?</h3>
        <p>
          All parents can click the sign up button on the home page and they will be directed to the registration page. Parents will need a special code that can be found in the Administrators home page.
        </p>

        <a name="assign-groups"></a>
        <h3>How do I assign campers into groups?</h3>
        <p>
          After campers have been enrolled, you can assign campers into specific groups by editing the campers profile and adding them to a new or current group.
        </p>

        <a name="schedule-maker"></a>
        <h3>How does the schedule maker work?</h3>
        <p>
          After campers are sorted into groups, you can either click on the (+) symbol on the bottom of the page and create a time slot for each group. You can also highlight the times slots and fill out the form.
        </p>

        <a name="nametag"></a>
        <h3>How does the nametag generator work?</h3>
        <p>
          You would create a template for one nametag and it would print a pdf of nametags for all your campers. 
        </p>

        <h2>Parents</h2>
        <hr>

        <a name="parent-registration"></a>
        <h3>How do I register for an account?</h3>
        <p>
          Parents would first have to obtain a special code that is distributed to administrators for their camps. After obtaining the code, parents may then click the sign up button on the top right corner of the home page.
        </p>

        <a name="register-child"></a>
        <h3>How do I register my child?</h3>
        <p>
          After successfully logging into your account, you will be redirected to the parent home page. You may then click on enrollments and click on the (+) on the bottom right corner of your screen.
        </p>

        <a name="view-schedule"></a>
        <h3>How do I view the schedule for my child?</h3>
        <p>
          You can click on the schedule button to be redirected to the schedule page. Clicking on your child's name would then show everything your child is schedule for.
        </p>