{% extends "base.html" %}
{% block content %}

<div class="content">
  <div class="container">
    <br>
	<div class="columns">
      <div class="column is-3">
        <aside class="menu">

        <p class="menu-label">Camper+ Basics</p>
        <ul class="menu-list">
            <li><a href="#what-is-cp">What is a Camper+?</a></li>
            <li><a href="#learn-more">Learn More</a></li>
        </ul>

         <p class="menu-label">Administrators</p>
          <ul class="menu-list">
          	<li><a href="#admin-registration">Admin Registration</a></li>
            <li><a href="#invite-parents">Inviting Parents to join</a></li>
            <li><a href="#schedule-maker">How to Create Schedules</a></li>
            <li><a href="#user-role">Assigning Students to Groups</a></li>
            <li><a href="#nametag">Nametag Generator</a></li>
          </ul>

          <p class="menu-label">Parents</p>
          <ul class="menu-list">
            <li><a href="#parent-registration">Parent Registration</a></li>
            <li><a href="#schedule-maker">Registering My Child</a></li>
            <li><a href="#view-schedule">How to View Schedule</a></li>
          </ul>

          <div class="column is-9">
        <h1><strong>Frequently Asked Questions</strong></h1>
        <h2>Camper+ Basics</h2>
        <hr>