<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Camper+</h5>
        <p class="grey-text text-lighten-4">
          Camper+ is a complete and easy-to-use software for manager campers in various settings
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact us</h5>
          <p class="grey-text text-lighten-3">
              Camper+ <br>
              160 Convent Ave, <br>
              New York, NY 10031
          </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Camper+ Inc. All rights reserved
    <p class="grey-text text-lighten-4 right" href="#!"></p>
    </div>
  </div>
</footer>