{% extends "new_base.html" %}

{% block headcontent %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/manage.css') }}">
{% endblock headcontent %}

{% block title %}
  <title>Manage</title>
{% endblock title %}

{% block sidenav_sandwich %}
{% endblock sidenav_sandwich %}

{% block bodycontent %}

  <div class="segment-control">
    <ul class="buttonGroup">
        <li class="selected">Navigate</li>
      <li>Points</li>
      <li>Lines</li>
    </ul>
  </div>

  <div class="tap-target" data-activates="menu">
    <div class="tap-target-content">
      <h5>Please Enroll a Student</h5>
      <p>Click Here</p>
    </div>
  </div>

  <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large waves-effect waves-light" id="menu" href="{{ url_for('parent_register') }}"><i class="material-icons">add</i></a>
  </div>

{% endblock bodycontent %}

{% block scripts %}
    <script>
    $(document).ready(function () {
        $('.tap-target').tapTarget('open');
        $("ul.buttonGroup").click(function (event) {
            $("li", this)
            .removeClass("selected")
            .filter(event.target)
            .addClass("selected");
        });
    });
    </script>

    <script>
    $(document).ready(function () {
        $("#enrollments_drop").addClass("active");
        $("#enrollments_bar").addClass("active");
        $('.dropdown-button').dropdown({
          inDuration: 300,
          outDuration: 225,
          constrainWidth: false, // Does not change width of dropdown to that of the activator
          hover: true, // Activate on hover
          gutter: 0, // Spacing from edge
          belowOrigin: false, // Displays dropdown below the button
          alignment: 'left', // Displays dropdown with edge aligned to the left of button
          stopPropagation: false // Stops event propagation
        });
    });
    </script>
{% endblock scripts %}