<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    {% block headcontent %}
    {% endblock headcontent %}

    {% block title %}
        <title>Camper+</title>
    {% endblock title %}
</head>

<body>
  <div class="navbar-fixed">
      <nav class="top-nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Camper+</a>
            <ul class="right hide-on-med-and-down">
                <li id="enrollments_bar"><a href="#!"><i class="material-icons left">people</i>Enrollments</a></li>
                <li id="forms_bar"><a href="#!"><i class="material-icons left">folder</i>Forms</a></li>
                <li id="schedule_bar"><a href="#!"><i class="material-icons left">schedule</i>Schedule</a></li>
                <li id="account_bar"><a href="#!"><i class="material-icons left">account_circle</i>Account</a></li>
            </ul>
            <!-- id is duplicated on purpose -->
              <ul id='dropdown1' class='dropdown-content'>
                <li id="enrollments_drop"><a href="#!"><i class="material-icons">people</i>Enrollments</a></li>
                <li id="forms_drop"><a href="#!"><i class="material-icons">folder</i>Forms</a></li>
                <li id="schedule_drop"><a href="#!"><i class="material-icons">schedule</i>Schedule</a></li>
                <li id="account_drop"><a href="#!"><i class="material-icons">account_circle</i>Account</a></li>
              </ul>
            <a class='right dropdown-button hide-on-large-only' href='#' data-activates='dropdown1'><i class="large material-icons">expand_more</i></a>

            {% block sidenav_sandwich %}
            <a href="#" data-activates="slide-out" class="button-collapse show-on-medium"><i class="large material-icons">menu</i></a>
            {% endblock sidenav_sandwich %}
        </div>
      </nav>
  </div>

  {% block sidenav %}
  {% endblock sidenav %}

  {% block bodycontent %}
  {% endblock bodycontent %}

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='js/materialize.min.js')}}"></script>
  {% block scripts %}
  {% endblock scripts %}
</body>
</html>