{% extends "parent_base.html" %}

{% block headcontent %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/parent_schedule.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fullcalendar3.6.2/fullcalendar.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fullcalendar3.6.2/fullcalendar.print.min.css') }}" media='print' />
    <link rel="stylesheet" type="text/css" href='https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css' />
{% endblock headcontent %}

{% block title %}
    <title>Schedule</title>
{% endblock title %}

{% block sidenav_sandwich %}
     <a href="#" data-activates="slide-out" class="button-collapse show-on-medium"><i class="large material-icons">menu</i></a>
{% endblock sidenav_sandwich %}

{% block sidenav %}
    <ul id="slide-out" class="side-nav fixed">
        <li><i class="large material-icons">people_outline</i></li>
        <li>
          <div style="text-align: center">
            {% for child in children %}
              <button class="child" id="child{{ child.id }}" style="background-color:{{ child.color }};">{{ child.name }}</button><br>
            {% endfor %}
          </div>
        </li>
    </ul>
{% endblock sidenav %}

{% block bodycontent %}
    <div id="calendar" class="sched-div"></div>
{% endblock bodycontent %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/fullcalendar3.6.2/moment.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/fullcalendar3.6.2/fullcalendar.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/parent_schedule.js') }}" ></script>
{% endblock scripts %}