<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.min.css">

        <title>Camper+</title>
</head>

<body style="background-color: rgb(248, 248, 248)">
  <div class="navbar-fixed">
      <nav class="top-nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Camper+</a>
            <ul class="right hide-on-med-and-down">
                <li id="enrollments_bar"><a href="#!"><i class="material-icons left">people</i>Enrollments</a></li>
                <li id="forms_bar"><a href="#!"><i class="material-icons left">folder</i>Forms</a></li>
                <li id="schedule_bar"><a href="#!"><i class="material-icons left">schedule</i>Schedule</a></li>
                <li id="account_bar"><a href="#!"><i class="material-icons left">account_circle</i>Account</a></li>
            </ul>
            <!-- id is duplicated on purpose -->
              <ul id='dropdown1' class='dropdown-content'>
                <li id="enrollments_drop"><a href="#!"><i class="material-icons">people</i>Enrollments</a></li>
                <li id="forms_drop"><a href="#!"><i class="material-icons">folder</i>Forms</a></li>
                <li id="schedule_drop"><a href="#!"><i class="material-icons">schedule</i>Schedule</a></li>
                <li id="account_drop"><a href="#!"><i class="material-icons">account_circle</i>Account</a></li>
              </ul>
            <a class='right dropdown-button hide-on-large-only' href='#' data-activates='dropdown1'><i class="large material-icons">expand_more</i></a>

            <a href="#" data-activates="slide-out" class="button-collapse show-on-medium"><i class="large material-icons">menu</i></a>
        </div>
      </nav>
  </div>

  <div class="row">
    <div class="col m8">
              <div class="card">
            <div class="card-content black-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>

    </div>

    <div class="col m4">

        <div class="card">
            <div class="card-content black-text" style="border-bottom: 1px solid lightgrey">
                <span class="card-title">Registration Cost</span>
            </div>
            <div class="card-content black-text" style="border-bottom: 1px solid lightgrey">
                <span class="card-title">$15</span>
            </div>
            <div class="card-content black-text" style="border-bottom: 1px solid lightgrey">
                <p>Jane Dorcy</p>
                <p>Standard Child ........ $15</p>
            </div>
            <div class="card-content black-text">
            <p>Total                      $15</p>
            </div>
          </div>

    </div>
  </div>



  <script src="../static/js/jquery.min.js" ></script>
  <script src="../static/js/materialize.min.js"></script>

</body>
</html>