{% extends "base.html" %}

{% block headcontent %}
	<style>
		header {
			line-height: 0;
		}

		.sched-row {
			margin-bottom: 0;
		}
		.sched-nav {
			background-color: #ba68c8;
			position: absolute;
			top: 64px;
			left: 0px;
			width: 16vw;
			bottom: 0px;
			z-index: 1;
		}
		.sched-div {
			background-color: #f3e5f5;
			position: absolute;
			top: 64px;
			width: 84vw;
			right: 0;
			bottom: 0px;
		}
	</style>
{% endblock headcontent %}

{% block navbar_right %}
	{% include "schedule_link_active.html" %}
	{% include "campers_link.html" %}
{% endblock navbar_right %}

{% block bodycontent %}
		<div class="sched-nav z-depth-5">
		</div>

		<div class="sched-div">
		</div>
{% endblock bodycontent %}