{% extends "base.html" %}

{% block headcontent %}
	<style>
		header {
			line-height: 0;
		}

html,
body {
	height: 100%;
}

		.sched-row {
			margin-bottom: 0;
		}
		.sched-nav {
			background-color: #ba68c8;
			height: calc(100vh - 64px);
		}
		.sched-div {
			background-color: #f3e5f5;
			height: calc(100vh - 64px);
		}


	</style>
{% endblock headcontent %}

{% block navbar_right %}
	{% include "schedule_link_active.html" %}
	{% include "campers_link.html" %}
{% endblock navbar_right %}

{% block bodycontent %}
    <div class="row sched-row">
		<div class="col s2 sched-nav">
		</div>

		<div class="col s10 sched-div">
		</div>
    </div>
{% endblock bodycontent %}