{% extends "base.html" %}

{% block headcontent %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sched-style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fullcalendar3.6.2/fullcalendar.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fullcalendar3.6.2/fullcalendar.print.min.css') }}" media='print' />
    <link rel="stylesheet" type="text/css" href='https://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css' />
{% endblock headcontent %}

{% block navbar_right %}
	{% include "schedule_link_active.html" %}
	{% include "campers_link.html" %}
{% endblock navbar_right %}

{% block bodycontent %}
	<div class="sched-nav z-depth-5">
		<div class="container center-align">
			<h4 style="margin-bottom: 0;">Groups</h4><hr style="border: 1px solid black;">
      <div id="groups">
        {% for group in groups %}
          <button class="group" id="group{{ group["groupid"] }}" style="background-color: {{ group["color"] }};">{{ group["name"] }}</button><br>
        {% endfor %}
      </div>
		</div>
	</div>

  <!-- Modal Content to Add New Event, edit event or Delete Event -->
  <form id="event-form" action="javascript:submitScheduleForm()">
  <div class="modal modal-fixed-footer" id="eventModal">
    <div class="modal-content">
      <h4>Event</h4>

      <input type="text" id="eventTitle" placeholder="Event Title" required/>

      <div class="row">
        <div class="col s2 "><p>Start Time: </p></div>
        <div class="col s5 "><input id="eventStartDate" type="date" required/></div>
        <div class="col s5 "><input id="eventStartTime" type="time" required/></div>
      </div>
      <div class="row">
        <div class="col s2 "><p>End Time: </p></div>
        <div class="col s5 "><input id="eventEndDate" type="date" required/></div>
        <div class="col s5 "><input id="eventEndTime" type="time" required/></div>
      </div>

      <div class="row">

        <div class="input-field col s6">
          <select id="sched-groups" required>
            <option value="0" disabled selected>Select Group</option>
            {% for group in groups %}
                <option value="{{group["groupid"]}}">{{ group["name"] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn waves-effect red waves-light modal-action modal-close" id="deleteEvent">Delete Event</button>
      <button class="btn waves-effect waves-light modal-action" type="submit" id="saveEvent">Save</button>
      <button class="btn waves-effect waves-light modal-action modal-close" type="reset" value="Cancel">Cancel</button>
    </div>
  </div>
</form>


<!--Full Calendar calendar-->
<div id="calendar" class="sched-div"></div>

{% endblock bodycontent %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/fullcalendar3.6.2/moment.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/fullcalendar3.6.2/fullcalendar.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/calendar.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/schedule.js') }}" ></script>
{% endblock scripts %}
