.brand-logo {
    margin-left: 2%;
}

.nav-wrapper {
    background-color: #0268A6;
}

.page-body {
    margin-top: 50%;
}

body {
    background-color: #f8f8f8;
}

nav {
    height: 60px;
    line-height: 60px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 60px;
    line-height: 60px;
}

nav .button-collapse i {
    font-size: 30px;
    height: 60px;
    line-height: 60px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

nav a.dropdown-button, nav a.dropdown-button i{
    font-size: 40px;
    height: 60px;
    line-height: 60px;
    margin-right: 10px;
}

nav ul.dropdown-content li a{
    color: #0268A6 !important; /* no need for !important :) */
}

.btn-floating {
    background-color: #EA0599;
}

.btn-floating:hover {
    background-color: #0268A6;
}

.theme-text {
    color: #0268A6;
}

.tap-target-content {
    color: #f8f8f8;
}

.segment-control {
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    margin: 2% 10% auto 10%;
}

.buttonGroup {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack:justify;
    -webkit-box-sizing: border-box;
}

.buttonGroup > li {
    display: block;
    -webkit-box-flex: 1;
    border: solid 1px #9a9a99;
    border-left: none;
    -webkit-border-radius: 0px;
    text-align: center;
    color: #6b6b6b;
    font-size: 16px;
    padding: 10px;
}

.buttonGroup > li:first-child {
    border-left: solid 1px #9a9a99;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.buttonGroup > li:last-child {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.buttonGroup > li.selected {
    background-color: #0268A6;
    color: #fff;
    border-color: #193a7f;
}

#parents li {
    list-style-type: none;
}

