.brand-logo {
    margin-left: 2%;
}

.nav-wrapper {
    background-color: rebeccapurple;
}

.page-body {
    margin-top: 50%;
}

.page-footer {
    background-color: rebeccapurple;
}

.footer-copyright {
    background-color: darkslateblue;
}

