header {
	line-height: 0;
}

.sched-nav {
	background-color: #aed581;
	position: absolute;
	top: 64px;
	left: 0px;
	width: 16vw;
	bottom: 0px;
	z-index: 1;
}

.sched-div {
	background-color: #f1f8e9;
	position: absolute;
	top: 66px;
	width: 84vw;
	right: 0;
	bottom: 0px;
}

#calendar {
	font-size: 12px;
    margin: 0 auto;
}

#calendar h2 {
    font-size: 30px !important;
}

.group {
	color: rgba(255,255,255,0.8);
	border: 0;
	border-radius: 1em;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.2em 1em 0.2em 1em;
	margin: 0.4em auto auto 0.25em;
	position: relative;
	top: -0.25em;
}

/*Fade all the DIV when user hovers on any div*/
.dim-group {
  zoom: 1;
  filter: alpha(opacity=45);
  opacity: 0.45;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}


.highlight-group {
  /*box-shadow: 3px 3px 15px #666;*/
  border-color:#C76C0C;
  background: #C76C0C;
  color: #fff;
  cursor: pointer;


  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
